# Copy this to .env file and fill in the values

APP_PORT=3010
APP_ENV=development

DATABASE_URL=postgres://postgres:password1234@localhost:5432/rustle

# RUST_LOG=rustle=info,tower_http=info,axum=info
